{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Departments{% endblock %}
{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <br/>
                    {{ utils.flashed_messages() }}
                    <br/>
                    <h1 style="text-align:center;">Departments</h1>
                    <div style="text-align: center">
                        <a href="{{ url_for('admin.add_department') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-plus"></i>
                            Add Department
                        </a>
                    </div>
                    {% if departments %}
                        <hr class="intro-divider">
                        <div class="center">
                            <table class="table table-striped table-bordered" id="tables">
                                <thead>
                                <tr>
                                    <th class="thpointer" width="25%" onclick="SortTable(0,'T')"> Name</th>
                                    <th class="thpointer" width="25%" onclick="SortTable(1,'N')"> Average salary</th>
                                    <th width="25%"> Edit</th>
                                    <th width="25%"> Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for department in departments %}
                                    <tr>
                                        <td>
                                            {% if department.name %}
                                                {{ department.name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if avg_info[department.name] %}
                                                {{ avg_info[department.name] }}
                                            {% else %}
                                                -
                                            {% endif %}

                                        </td>
                                        <td>
                                            <a href="{{ url_for('admin.edit_department', department_id=department.department_id) }}">
                                                <i class="fa fa-pencil"></i> Edit
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ url_for('admin.delete_department', department_id=department.department_id) }}">
                                                <i class="fa fa-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                           <script type="text/javascript"
                                    src="{{ url_for('static', filename='js/sort.js') }}"></script>
                        </div>
                        <div style="text-align: center">
                    {% else %}
                        <div style="text-align: center">
                        <h3> No departments have been added. </h3>
                        <hr class="intro-divider">
                    {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}