alembic==0.8.9
aniso8601==8.0.0
asgiref==3.2.3
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Django==3.0
dominate==2.3.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.0
Flask-Datepicker==0.12
Flask-Login==0.4.0
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
forms2==1.1.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
Mako==1.0.6
MarkupSafe==1.1.1
mccabe==0.6.1
mysql==0.0.2
mysqlclient==1.4.6
pylint==2.4.4
python-dateutil==2.8.1
python-editor==1.0.3
pytz==2019.3
requests==2.22.0
six==1.13.0
SQLAlchemy==1.3.11
sqlparse==0.3.0
static-parameters==0.4
typed-ast==1.4.0
urllib3==1.25.7
virtualenv==16.7.8
visitor==0.1.3
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.1
